<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
      <div class="row">
        <span class="image-overlay"> <%= link_to image_tag("photo.png" , alt: "Profile Pic", :class => "img img-circle profileimg") %></span>
      </div>
      <div class="row text-center sidetxt">
          <h3 class="h3txt"> Raji Rudhrakumar </h3>
          <h4 class="h4txt"> Web/Rails/Wordpress Developer </h4>
          <h4 class="h5txt"> <span class="fa fa-phone"></span> 0421 355 709 </h4>
      </div>
    </div>
  </div>
  <div id="main">
      <div class="col-md-12">
      	  <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          <div class="row">
            <%= yield %>   
          </div>
      </div>
  </div>
</div><!--/row-offcanvas -->
  