<div class="row-offcanvas row-offcanvas-left">
  <div class="row no-gutters">
    <div id="brand" class="sidebar-offcanvas">
      <div class="col-md-12">
        <div class="row text-center sidetxt">
          <h3 class="h3txt"> Raji Rudhrakumar </h3>
          <h4 class="h4txt"> Web/Rails/Wordpress Developer </h4>
        </div>
      </div>
    </div>
    <div id="navi">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <%= render 'shared/navbar' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
      <div class="row">
        <span class="image-overlay"> <%= link_to image_tag("photo.png" , alt: "Profile Pic", :class => "img img-circle profileimg") %></span>
      </div>
      <div class="row sideblock">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default blockemail">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
               <h1><span class="fa fa-envelope email"></span></h1>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
              <div class="panel-body"><p>rudhraraji@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default blockmobile">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> <h1><span class="fa fa-phone mobile"></span></h1></a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body"><p>0421 355 709</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="main">
    <!-- <div id="sticky">
      sticky header
      </div> -->
    <div class="col-md-12">
      <p class="visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
      </p>
      <div class="row">
        <%= yield %> 
      </div>
    </div>
  </div>
</div>
<!--/row-offcanvas -->

