<h1>Education</h1>
<div class="container">

    
    <!-- Timeline -->
    <div class="timeline">
    
        <!-- Line component -->
        <div class="line text-muted"></div>

        <!-- Separator -->
        <!-- <div class="separator text-muted">
            <time>2015</time>
        </div> -->
        <!-- /Separator -->

         <!-- Panel -->
        <article class="panel panel-primary">
    
            <!-- Icon -->
            <div class="panel-heading icon">
                2015
            </div>
            <!-- /Icon -->
    
            <!-- Heading -->
            <div class="panel-heading">
                <h2 class="panel-title">ISTQB Foundation Certification, ANZTB</h2>
            </div>
            
        </article>
        <!-- /Panel -->
       
        <!-- New Line -->

        <!-- Separator -->
        <div class="separator text-muted">
           <!--  <time>2011</time> -->
        </div>
        <!-- /Separator -->
        <!-- Panel -->
        <article class="panel panel-primary">
    
            <!-- Icon -->
            <div class="panel-heading icon">
                <!-- <i class="glyphicon glyphicon-plus"></i> --> 2011
            </div>
            <!-- /Icon -->
    
            <!-- Heading -->
            <div class="panel-heading">
                <h2 class="panel-title">Diploma in Information Technology (Software Development) </h2>
            </div>
            <!-- /Heading -->
    
            <!-- Body -->
            <div class="panel-body">
                Holmesglen Institution of TAFE
            </div>
            <!-- /Body -->
    
            <!-- Footer -->
            <div class="panel-footer">
                <small>Distinction (79%)</small>
            </div>
            <!-- /Footer -->
        </article>
        <!-- /Panel -->

        <!-- New Line -->

        <!-- Separator -->
        <div class="separator text-muted">
           <!--  <time>2009</time> -->
        </div>
        <!-- /Separator -->
         <!-- Panel -->
        <article class="panel panel-primary">
    
            <!-- Icon -->
            <div class="panel-heading icon">
                <!-- <i class="glyphicon glyphicon-plus"></i> --> 2009
            </div>
            <!-- /Icon -->
    
            <!-- Heading -->
            <div class="panel-heading">
                <h2 class="panel-title">Certificate IV in Information Technology (General)</h2>
            </div>
            <!-- /Heading -->
    
            <!-- Body -->
            <div class="panel-body">
                Holmesglen Institution of TAFE
            </div>
            <!-- /Body -->
    
            <!-- Footer -->
            <div class="panel-footer">
                <small>High Distinction (89%)</small>
            </div>
            <!-- /Footer -->
        </article>
        <!-- /Panel -->

        <!-- New Line -->
        <!-- Separator -->
        <div class="separator text-muted">
            <!-- <time>2007</time> -->
        </div>
        <!-- /Separator -->

         <!-- Panel -->
        <article class="panel panel-primary">
    
            <!-- Icon -->
            <div class="panel-heading icon">
                <!-- <i class="glyphicon glyphicon-plus"></i> -->2007
            </div>
            <!-- /Icon -->
    
            <!-- Heading -->
            <div class="panel-heading">
                <h2 class="panel-title">Certificate II in Business, AMES</h2>
            </div>
            
        </article>
        <!-- /Panel -->
       
        <!-- New Line -->



        <!-- Separator -->
        <div class="separator text-muted">
            <!-- <time>2000</time> -->
        </div>
        <!-- /Separator -->
         <!-- Panel -->
        <article class="panel panel-primary">
    
            <!-- Icon -->
            <div class="panel-heading icon">
                <!-- <i class="glyphicon glyphicon-plus"></i> -->2000
            </div>
            <!-- /Icon -->
    
            <!-- Heading -->
            <div class="panel-heading">
                <h2 class="panel-title">Bachelor of Mathematics</h2>
            </div>
            <!-- /Heading -->
    
            <!-- Body -->
            <div class="panel-body">
                Bharathiyar University, India
            </div>
            <!-- /Body -->
    
            <!-- Footer -->
            <div class="panel-footer">
                <small>First Class</small>
            </div>
            <!-- /Footer -->
        </article>
        <!-- /Panel -->
    
    </div>
    <!-- /Timeline -->

</div>
</div>