<h1>Experience</h1>
<div class="col-md-12">
	<div class="panel panel-default exppanel">
		<!-- Heading -->
            <div class="panel-heading head">
	            <div class="panel-title title">
	               <div class="div-left">
						<h2>WebDeveloper</h2>
					</div>
				    <div class="folded">
				       	<h2><img class="img-responsive" src="https://www.w3schools.com/css/paris.jpg" width="50px"></h2>
				    </div>  
	            </div>
            </div>
            <!-- /Heading -->
    
            <!-- Body -->
            <div class="panel-body">
                Holmesglen Institution of TAFE
            </div>
            <!-- /Body -->
    
            <!-- Footer -->
            <div class="panel-footer">
                <small>Distinction (79%)</small>
            </div>
            <!-- /Footer -->
	</div>
</div>