<h2>
	<strong class="sentence">
      Hello, I'm Developer -
      <div class=" word slidingVertical">
        <span>Ruby on Rails</span>
        <span>Html</span>
        <span>css</span>
        <span>PHP</span>
        <span>Javascript</span>
        <span>Wordpress</span>
        <span>jQuery</span>        
      </div>
    </strong> 
</h2>
  
                   