<h1>Skills</h1>
<!--Skills -->
<div class="row">
  <div class="well wellblock vcenter">
    <div class="col-md-12">
      <div class="col-md-6">
        <h3><i class="fa fa-code"></i> Code Skills</h3>
        <div id="vbar-1"></div>
        <div id="vbar-2"></div>
        <div id="vbar-3"></div>
        <div id="vbar-4"></div>
        <div id="vbar-5"></div>
        <div id="vbar-6"></div>
        <div id="vbar-7"></div>
        <div id="vbar-8"></div>
      </div>
      <div class="col-md-6 bar">
        <h3> <i class="fa fa-laptop"></i> Software/Other Skills</h3>        
        <div id="bar-1"></div>
        <div id="bar-2"></div>
        <div id="bar-3"></div>
        <div id="bar-4"></div>
      </div>
    </div>
  </div>
</div>
<div class="row space">
  <div class="well wellblock vcenter">
    <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3 circle">
       <h3><i class="fa fa-users"></i> Professional Skills</h3>
        <div class="circle-chart" data-percent="75">
          <p>Communication</p>
        </div>
        <div class="circle-chart" data-percent="80">
          <p>Flexible</p>
        </div>
        <div class="circle-chart" data-percent="90">
          <p>Time Management</p>
        </div>
        <div class="circle-chart" data-percent="75">
          <p>Self-motivation</p>
        </div>
        <div class="circle-chart" data-percent="65">
          <p>Work Under pressure</p>
        </div>
        <div class="circle-chart" data-percent="85">
          <p>Adaptive</p>
        </div>
      </div>
      <script> $('.circle-chart').percentcircle(); </script>     
    </div>
  </div>
</div>
<div class="space">
</div>
<!-- End of Intro -->
<script type="text/javascript">
  $(document).ready(function () {
      //code skills vertical bar
      $('#vbar-1').skillbar({ label: 'HTML', value: 90, barColor: '#D64747', orientation: 'v' });
  
      $('#vbar-2').skillbar({ label: 'CSS', value: 85, barColor: '#FF681F', orientation: 'v' });
  
      $('#vbar-3').skillbar({ label: 'Javascript', value: 60, barColor: '#ea805c', orientation: 'v' });
  
      $('#vbar-4').skillbar({ label: 'Jquery', value: 40, barColor: '#88bbc8', orientation: 'v' });
  
      $('#vbar-5').skillbar({ label: 'PHP', value: 60, barColor: '#939393', orientation: 'v' });
  
      $('#vbar-6').skillbar({ label: 'MySql', value: 70, barColor: '#3a89c9', orientation: 'v' });
  
      $('#vbar-7').skillbar({ label: 'Ruby on Rails', value: 40, barColor: '#3ac942', orientation: 'v' });
  
      $('#vbar-8').skillbar({ label: 'Agile', value: 40, barColor: '#c51212', orientation: 'v' });

    // s/w skills horizontal bar
      $('#bar-1').skillbar({ label: 'MsOffice',  value: 75, barColor: '#a0349f' });
  
      $('#bar-2').skillbar({ label: 'photoshop', value: 50, barColor: '#38c723' });
  
      $('#bar-3').skillbar({ label: 'Git', value: 55, barColor: '#1c9cbd' });
  
      $('#bar-4').skillbar({ label: 'Bitbucket', value: 55, barColor: '#98700a' });
  
      // $('#vbar-6').skillbar({ label: 'Dagha', barColor: '#3a89c9', value: 50, orientation: 'v' });
  });
</script>