<h1>Skills</h1>
<!--Skills -->
<div class="row">
  <div class="well wellblock vcenter">
    <div class="col-md-12">
      
      <div class="col-md-6">
      <h3><i class="fa fa-code"></i> Code Skills</h3> 
        <div id="bar-1"></div>
        <div id="bar-2"></div>
        <div id="bar-3"></div>
        <div id="bar-4"></div>
        <div id="bar-5"></div>
        <div id="bar-6"></div>
        <div id="bar-7"></div>
        <div id="bar-8"></div>
      </div>
      <div class="col-md-6 bar">
      <h3> <i class="fa fa-laptop"></i> Software/Other Skills</h3>
        <div id="vbar-1"></div>
        <div id="vbar-2"></div>
        <div id="vbar-3"></div>
        <div id="vbar-4"></div>
        <div id="vbar-5"></div>
        <div id="vbar-6"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="well wellblock vcenter">
        <div class="col-md-12">
           <h3><i class="fa fa-users"></i> Professional Skills</h3>
           <div class="col-md-6 col-md-offset-3 demo">
            <div class="demo-1" data-percent="75"><p>Communication</p></div>
            <div class="demo-1" data-percent="80"><p>Flexible</p></div>
            <div class="demo-1" data-percent="90"><p>Time Management</p></div>
            <div class="demo-1" data-percent="75"><p>Self-motivation</p></div>
            <div class="demo-1" data-percent="65"><p>Work Under pressure</p></div>
            <div class="demo-1" data-percent="85"><p>Adaptive</p></div>
          </div>
    
<script> $('.demo-1').percentcircle(); </script>     
          </div>
    </div>
</div>



<!-- End of Intro -->

  <script type="text/javascript">

        $(document).ready(function () {

            $('#bar-1').jqbar({ label: 'HTML', value: 90, barColor: '#D64747' });

            $('#bar-2').jqbar({ label: 'CSS', value: 85, barColor: '#FF681F' });

            $('#bar-3').jqbar({ label: 'Javascript', value: 60, barColor: '#ea805c' });

            $('#bar-4').jqbar({ label: 'Jquery', value: 40, barColor: '#88bbc8' });

            $('#bar-5').jqbar({ label: 'PHP', value: 60, barColor: '#939393' });

            $('#bar-6').jqbar({ label: 'MySql', value: 70, barColor: '#3a89c9' });

            $('#bar-7').jqbar({ label: 'Ruby on Rails', value: 40, barColor: '#3ac942' });

            $('#vbar-1').jqbar({ label: 'Agile', value: 40, barColor: '#c51212', orientation: 'v' });

            $('#vbar-2').jqbar({ label: 'MsOffice',  value: 75, barColor: '#a0349f', orientation: 'v' });

            $('#vbar-3').jqbar({ label: 'photoshop', value: 50, barColor: '#38c723', orientation: 'v' });

            $('#vbar-4').jqbar({ label: 'Git', value: 55, barColor: '#1c9cbd', orientation: 'v' });

            $('#vbar-5').jqbar({ label: 'Bitbucket', value: 55, barColor: '#98700a', orientation: 'v' });

            // $('#vbar-6').jqbar({ label: 'Dagha', barColor: '#3a89c9', value: 50, orientation: 'v' });

            
        });
    </script>