@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "navbar";
@import "home";
@import "skills";
@import "portfolio";
@import "timeline";
@import "experience";

@font-face {
  font-family: "Prosto";
  src: url("font/Prosto.eot?") format("eot");
  src: url("font/Prosto.woff") format("woff"), url("font/Prosto.ttf") format("truetype"), url("font/ProstoOne-Regular.ttf") format("truetype"), url("font/Prosto.svg#Prosto") format("svg");
  src: url("font/Prosto Sans Bold.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  overflow: hidden;
  /*blue gradient */
  background: rgba(52, 152, 219, 1);
  background: -moz-linear-gradient(left, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(52, 152, 219, 1)), color-stop(50%, rgba(117, 189, 209, 1)), color-stop(100%, rgba(52, 152, 219, 1)));
  background: -webkit-linear-gradient(left, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  background: -o-linear-gradient(left, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  background: -ms-linear-gradient(left, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  background: linear-gradient(to right, rgba(52, 152, 219, 1) 0%, rgba(117, 189, 209, 1) 50%, rgba(52, 152, 219, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#3498db', GradientType=1);
}

body {
  margin: 1%;
  padding: 0px;
  font-family: Prosto, Arial;
  font-size: 12px
}

.row-offcanvas {
  height: 85vh;
  background-color: #000;
}

#brand {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  float: left;
  position: relative;
}

.space {
  margin: 15px 0px;
}

#navi {
  overflow: hidden;
}

#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color: black;
  float: left;
  height: 85vh;
  position: relative;
  overflow: hidden;
}

#main {
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  padding: 5px;
  padding-left: 15px;
}

.nomargin {
  margin-bottom: 0px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>[class^="col-"],
.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.wellblock {
  background-color: transparent;
  border: 0px solid transparent;
  box-shadow: none;
  padding: 0;
  margin-bottom: 0;
}


/* sidebar */

.img-circle {
  background: rgba(19, 19, 19, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(19, 19, 19, 1) 0%, rgba(19, 19, 19, 1) 10%, rgba(46, 46, 46, 1) 51%, rgba(19, 19, 19, 1) 90%, rgba(19, 19, 19, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(19, 19, 19, 1)), color-stop(10%, rgba(19, 19, 19, 1)), color-stop(51%, rgba(46, 46, 46, 1)), color-stop(90%, rgba(19, 19, 19, 1)), color-stop(100%, rgba(19, 19, 19, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(19, 19, 19, 1) 0%, rgba(19, 19, 19, 1) 10%, rgba(46, 46, 46, 1) 51%, rgba(19, 19, 19, 1) 90%, rgba(19, 19, 19, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(19, 19, 19, 1) 0%, rgba(19, 19, 19, 1) 10%, rgba(46, 46, 46, 1) 51%, rgba(19, 19, 19, 1) 90%, rgba(19, 19, 19, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(19, 19, 19, 1) 0%, rgba(19, 19, 19, 1) 10%, rgba(46, 46, 46, 1) 51%, rgba(19, 19, 19, 1) 90%, rgba(19, 19, 19, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(19, 19, 19, 1) 0%, rgba(19, 19, 19, 1) 10%, rgba(46, 46, 46, 1) 51%, rgba(19, 19, 19, 1) 90%, rgba(19, 19, 19, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#131313', GradientType=1);
}

.profileimg {
  width: 220px;
  padding: 1%;
  opacity: .9;
  background-color: #333;
}

.image-overlay:hover img {
  background: rgba(0, 0, 0, 1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(19, 19, 19, 1) 45%, rgba(19, 19, 19, 1) 55%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(45%, rgba(19, 19, 19, 1)), color-stop(55%, rgba(19, 19, 19, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(19, 19, 19, 1) 45%, rgba(19, 19, 19, 1) 55%, rgba(0, 0, 0, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(19, 19, 19, 1) 45%, rgba(19, 19, 19, 1) 55%, rgba(0, 0, 0, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 1) 0%, rgba(19, 19, 19, 1) 45%, rgba(19, 19, 19, 1) 55%, rgba(0, 0, 0, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(19, 19, 19, 1) 45%, rgba(19, 19, 19, 1) 55%, rgba(0, 0, 0, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1);
}

.sidetxt {
  color: white;
}

.sideblock {
  color: #000;
  padding:2%;
  text-align:center;
}

.panel.blockemail, .blockemail a{
  color:#fff;
  background-color:#F36E20;
}

.email{
  color:#F36E20;
}
.panel.blockmobile, .blockmobile a{
  color:#fff;
  background-color:#7db701;
}
.mobile{
  color:#7db701;
}

.panel.blocksms, .blocksms a{
  color:#fff;
  background-color:#3498DB;
}
.sms{
  color:#3498DB;
}

.h5txt {
  color: #3498DB;
}


/* End of sidebar */


/*
 * off Canvas sidebar
 * --------------------------------------------------
 */

@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width: calc(100% + 230px);
    margin-top: 35px;
  }
  .visible-xs {
    padding-top: 10px;
  }
  .row-offcanvas-left {
    left: -230px;
  }
  .row-offcanvas-left.active {
    left: 0;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width:768px) and (max-height:500px) {
  #sidebar {
    overflow-y: auto;
    overflow-x: hidden;
  }
}