@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

/* nav bar */

p.narrow {
  width: 60%;
  margin: 10px auto;
  background-color: #7db701;
}

.liner {
  height: 2px;
  background: #ddd;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.nav-tabs {
  border-bottom: 0px;
  > li {
    margin-bottom: 0px;
    &.active > a {
      color: #555555;
      cursor: default;
      /* background-color: #ffffff; */
      border: 0;
      &:hover, &:focus {
        color: #555555;
        cursor: default;
        /* background-color: #ffffff; */
        border: 0;
      }
    }
  }
}

span.round-tabs {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: white;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
  &.one {
    color: #22c222;
    border: 4px solid #22c222;
  }
}

li.active span.round-tabs.one {
  background: #fff !important;
  border: 4px solid #ddd;
  color: #22C222;
}

span.round-tabs.two {
  color: #febe29;
  border: 4px solid #febe29;
}

li.active span.round-tabs.two {
  background: #fff !important;
  border: 4px solid #ddd;
  color: #febe29;
}

span.round-tabs.three {
  color: #3e5e9a;
  border: 4px solid #3e5e9a;
}

li.active span.round-tabs.three {
  background: #fff !important;
  border: 4px solid #ddd;
  color: #3e5e9a;
}

span.round-tabs.four {
  color: #f1685e;
  border: 4px solid #f1685e;
}

li.active span.round-tabs.four {
  background: #fff !important;
  border: 4px solid #ddd;
  color: #f1685e;
}

span.round-tabs.five {
  color: #F6660B;
  border: 4px solid #F6660B;
}

li.active span.round-tabs.five {
  background: #fff !important;
  border: 4px solid #ddd;
  color: #F6660B;
}

.nav-tabs > li {
  &.active > a span.round-tabs {
    background: #fafafa;
  }
  width: 20%;
}

/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/

li {
  &:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #3498DB;
    transition: 0.1s ease-in-out;
  }
  &.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
  }
}

.nav-tabs > li a {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  &:hover {
    background: none;
    border-color: 3px solid transparent;
  }
}

@media (max-width: 585px) {
  span.round-tabs {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .tab-content .head {
    font-size: 20px;
  }
  .nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  .btn-outline-rounded {
    padding: 12px 20px;
  }
}

@media (max-width: 585px) {
  span.round-tabs {
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .tab-content .head {
    font-size: 20px;
  }
  .nav-tabs > li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
  }
  .btn-outline-rounded {
    padding: 12px 20px;
  }
}

/*end of navbar */